# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual env
.venv/
env/
ENV/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# SQLite (agar ishlatilsa)
*.sqlite3
